body {
  background: #242e34;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
}

.weather-app {
  position: relative;
  width: 430px; 
  height: 600px;
  margin: 40px auto;
  image-rendering: pixelated;
}

.bg-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url('assets/day/day-bg.png') center/cover no-repeat;
  z-index: 1;
  border-radius: 20px;
}

.frame-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url('assets/day/frame.png') center/contain no-repeat;
  z-index: 10;
  pointer-events: none; 
  opacity: 1;
}

.content {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0 0 0; 
}


/* .content {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 0 0 0;  
} */

/* .top-bar {
  width: 360px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
  margin-top: 18px;
  background: none; 
  z-index: 6;
} */

/* .top-bar {
  width: 340px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  background: url('assets/day/top-bar.png') center/contain no-repeat;
  background-size: 100% 100%;  
  margin-bottom: 12px;
  margin-top: 30px;
  padding: 0 20px;  
  box-sizing: border-box;
  z-index: 6;
} */

/* 
.city-input {
  width: 170px;        
  height: 28px;
  margin-right: 8px;
  font-size: 16px;
  background: white;
  border: none;
  color: #47392c;
  font-family: 'Press Start 2P', monospace;
  outline: none;
  box-shadow: none;
  padding: 0 10px 0 40px;
} */

.search-btn {
  width: 60px;
  height: 28px;
  background: url('assets/day/search.png') center/contain no-repeat;
  border: none;
  font-size: 0;   
  cursor: pointer;
  margin-left: 4px;
}


.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 34px 0 0 0;
  z-index: 7;
}

.weather-icon {
  width: 88px;
  height: 88px;
  margin-bottom: 10px;
  background: url('assets/day/partly-cloudy.png') center/contain no-repeat;
  /* swap with relevant weather icons in JS! */
}

.temp {
  color: #fff2c7;
  font-size: 44px;
  text-shadow: 2px 2px 0 #47392c;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-family: 'Press Start 2P', monospace;
}

.desc {
  color: #fff2c7;
  font-size: 20px;
  text-shadow: 2px 2px 0 #47392c;
  font-family: 'Press Start 2P', monospace;
}

.details-row {
  width: 83%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  z-index: 9;
  margin-left: 24px;
  margin-right: 24px;
}


/* .detail {
  flex: 1 1 0;
  max-width: 110px; 
  height: 120px;
  background: url(assets/day/detail-row.png) center/contain no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', monospace;
  color: #20403d;
  margin: 0 3px;
} */

.detail {
  flex: 1 1 0;
  max-width: 120px; 
  height: 150px;
  background: url(assets/day/detail-row.png) center/contain no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', monospace;
  color: #20403d;
  /* margin: 0 0 0 6px; */
  white-space: normal;        
  overflow-wrap: break-word;  
  word-break: break-word;     
  text-align: center;         
}

.details-row .detail:nth-child(2) {
  margin: 0 0 0 6px;
}

.details-row .detail:nth-child(1) {
  margin: 0 0 0 7px;
}

.details-row .detail:nth-child(3) {
  margin: 0 0 0 0;
}

.detail-icon1 {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background: url('assets/day/humidity.png') center/contain no-repeat;
}
.detail-icon2 {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background: url('assets/day/windy.png') center/contain no-repeat;
}
.detail-icon3 {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background: url('assets/day/cloudy.png') center/contain no-repeat;
}

.detail-label {
  font-size: 12px;
  color: #f1e2be;
  margin-bottom: 3px;
  text-shadow: 1px 1px 0 #47392c;
}

.detail-value {
  font-size: 11px;
  color: #ffeabc;
  text-shadow: 1px 1px 0 #47392c;
}


.detail, .detail-label, .detail-value {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
}


.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px);
  position: relative;
}
.pixel-corners {
  border: 2px solid transparent;
  width: 340px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  background: url('assets/day/top-bar.png') center/contain no-repeat;
  background-size: 100% 100%;  
  margin-bottom: 12px;
  margin-top: 30px;
  padding: 0 20px;  
  box-sizing: border-box;
  z-index: 6;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(6px 9px,
    9px 9px,
    9px 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px,
    0px 50%,
    6px 50%,
    6px 9px,
    9px 9px,
    9px 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px),
    6px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1e1d1a;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -6px;
}

.city-input,
.city-input--wrapper {
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px);
  position: relative;
}
.city-input {
  border: 2px solid transparent;
  width: 170px;        
  height: 28px;
  margin-right: 8px;
  font-size: 16px;
  background: #f1e2be;
  border: none;
  color: #47392c;
  font-family: 'Press Start 2P', monospace;
  outline: none;
  box-shadow: none;
  padding: 0 50px 0 10px ;
  text-transform: capitalize;
}
.city-input--wrapper {
  width: fit-content;
  height: fit-content;
}
.city-input--wrapper .city-input {
  display: block;
  clip-path: polygon(6px 9px,
    9px 9px,
    9px 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px));
}
.city-input::after,
.city-input--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px,
    0px 50%,
    6px 50%,
    6px 9px,
    9px 9px,
    9px 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px),
    6px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1e1d1a;
  display: block;
  pointer-events: none;
}
.city-input::after {
  margin: -6px;
}